# Python ignores
__pycache__/
*.py[cod]
*$py.class
.Python
env/
venv/
.venv/
.env

# Project specific ignores
nf/

# Ignore contents of output but keep folders
output/*
!output/pdf/
!output/json/
!output/png/
!output/txt/
!output/db/
!output/.gitkeep
output/*/*
!output/*/.gitkeep

# Ignore contents of NF_QR_CODE but keep folder
NF_QR_CODE/*
!NF_QR_CODE/.gitkeep
activity.json
roles.json
scans.csv
lojas.csv
produtos.csv
